.container .headerImage {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(15deg, var(--background) 35%, transparent 70%), url(../../../public/img/network.jpg);
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .headerImage .headerContent {
  padding: 25px var(--main-max-padding);
  max-width: var(--main-max-vw);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.container .headerImage .headerContent img {
  max-width: 130px;
  max-height: 130px;
}
.container .headerImage .headerContent span {
  font-size: 20px;
}
.container .mainContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container .mainContent .aboutSection {
  flex-grow: 1;
  margin-right: 10px;
}
.container .mainContent .aboutSection h3 {
  font-size: 26px;
  padding-bottom: 10px;
}
.container .mainContent .aboutSection p {
  font-size: 18px;
  max-width: 660px;
  text-align: justify;
  color: #3a3a3a;
}
.container .mainContent .aboutSection .aboutSectionIFrame {
  padding: 24px 0 24px 0;
  width: 100%;
  max-width: 700px;
  min-height: 250px;
}
.container .mainContent .aboutSection .aboutSectionIFrame iframe {
  width: 100%;
  height: 100%;
  min-height: 200px;
}
.container .mainContent .newsSection {
  flex-grow: 1;
  margin-left: 10px;
  padding: 12px;
  background-color: var(--background-dark);
  max-width: 400px;
  border-radius: 6px;
}
.container .mainContent .newsSection h3 {
  font-size: 26px;
  padding-bottom: 10px;
}
.container .mainContent .newsSection .news {
  display: flex;
  flex-direction: column;
}
.container .mainContent .newsSection .news .newsCard {
  border: 0.61px solid #90909050;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  background-color: var(--background);
  margin: 10px 0;
}
.container .mainContent .newsSection .news .newsCard .newsCardStarts {
  padding: 12px;
}
.container .mainContent .newsSection .news .newsCard .newsCardStarts .newsText {
  padding: 12px;
}
.container .mainContent .newsSection .news .newsCard .newsCardStarts .newsText a {
  font-size: 18px;
}
.container .mainContent .newsSection .news .newsCard .newsCardStarts .newsPublishedOn {
  border-top: 1px solid #d5d5d5;
  padding: 12px 12px 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .mainContent .newsSection .news .newsCard .newsCardStarts .newsPublishedOn span {
  font-size: 18;
  width: 100%;
  text-align: center;
  color: #4a4a4a;
}
.container .mainContent .newsSection .allNewsButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .mainContent .newsSection .allNewsButton button {
  flex-grow: 23;
}
.container .researchSection {
  padding: 24px;
  background-color: #ededed;
}
.container .researchSection .mainResearchSection {
  width: 100%;
  height: 100%;
  margin: 0 5.5px;
}
.container .researchSection .mainResearchSection .researchSectionHeader {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}
.container .test {
  padding-bottom: 100px;
}

@media (min-width: 1150px) {
  .container .mainContent .aboutSection {
    height: 350px;
  }
  .container .mainContent .aboutSection .aboutSectionIFrame iframe {
    width: 100%;
    height: 370px;
  }
}
@media (max-width: 1150px) {
  .container .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 0px;
  }
  .container .mainContent .aboutSection {
    margin-right: 0px;
  }
  .container .mainContent .aboutSection .aboutSectionIFrame iframe {
    width: 100%;
    height: 370px;
  }
  .container .mainContent .newsSection {
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  .container .mainContent .aboutSection .aboutSectionIFrame iframe {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 550px) {
  .container .mainContent .aboutSection .aboutSectionIFrame iframe {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 500px) {
  .container .mainContent .aboutSection .aboutSectionIFrame iframe {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=home.module.css.map */