.header {
    width: 100%;
    background-color: var(--dark);
    color: var(--themecolor);

    .content {
        margin: auto;
        padding: 0 var(--main-max-padding);

        min-height: var(--header-height);
        height: var(--header-height);
        line-height: var(--header-height);
        max-width: var(--main-max-vw);

        color: var(--themecolor);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo {
            height: var(--header-height);
            line-height: var(--header-height);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            a {
                color: var(--themecolor);
                letter-spacing: 2px;

                height: 100%;
                line-height: var(--header-height);

                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                    align-self: center;
                }

                span {
                    color: var(--themecolor);
                }
            }
        }

        nav {
            color: var(--themecolor);

            ul {
                display: flex;
                color: var(--themecolor);

                li {
                    font-size: 16px;
                    padding: 5px 10px;
                    margin: 5px;
                    border-radius: 8px;
                    cursor: pointer;
                    color: var(--themecolor);

                    a {
                        font-family: 'Karla', sans-serif;
                        letter-spacing: 1px;
                        cursor: pointer;
                        color: var(--themecolor);
                    }
                }
            }
        }
    }
}
