@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark: #151515;
    --light: #f7f7f7;
    --grey: #7f7f7f;

    --themecolor: white;
    --invertthemecolor: black;

    --header-height: 52px;
    --main-min-vw: 300px;
    --main-max-vw: 1150px;
    --main-max-header-vw: 1150px;

    --main-max-padding: 20px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    outline: 0;
    transition: 0.15s;
    color: var(--invertthemecolor);
}

*::selection {
    background-color: #add8e6;
    color: black;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

:root {
    --light-scroll: #efefef;
    --dark-scroll: #374785;
}

body {
    background-color: #efefef;
}

*::-moz-selection {
    background-color: #add8e6;
    color: black;
}

*::selection {
    background-color: #add8e6;
    color: black;
}

.main-content {
    margin: auto;
    padding: 20px var(--main-max-padding);

    max-width: var(--main-max-vw);
    min-height: 85vh;
}
